body{
    background-image: url(assets/backgroung-bg-02.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'RocknRoll One';font-size: 22px;
}

.main__container{    
    .title__container{
        .title__text{
            text-transform: uppercase;
        }
    }
    .article__container{
        .arrow__left {
            cursor: pointer;
        }
        .songs__container{
            .card__song {
                .song__container{
                    position: relative;
                    height: 400px;     
                    .song__image{
                        height: 100%;
                        width: 100%;
                        z-index: -1;
                        position:absolute;
                    } 
                    &:hover{                        
                        background: linear-gradient(rgba(75, 74, 74, 0.7), rgb(66, 66, 66));
                        cursor: pointer;
                    }          
                    &:hover .song__text{
                        animation-name: move-song--hover;
                        animation-duration: 0.1s;
                        animation-fill-mode: forwards;
                    }
                    &:hover .band__text{
                        animation-name: move-song--hover;
                        animation-duration: 0.1s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
        .arrow__right {
            cursor: pointer;
        }
    }
}

@keyframes move-song--hover {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-40px);
    }

    80% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-60px);
    }
}
